<h3><%= @user.name %></h3>

<% if @user.groups.any? %>
  <% @user.groups.each do |group| %>
  <div class='row'>
     <h4>
      <%= link_to group.name, group %>
     </h4>
  </div>
  <% end %>
<% else %>
 <h3>
   You haven't joined any groups.
 </h3>
<p>Add a Group or Find a Group</p>
<% end %>
<p>
 <%= link_to 'New Group', new_group_path, class: "btn btn-success" %>
</p>


