<p>
  
</p>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @group.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @group.users.count %> Member</h6>    
    <a href="#" class="card-link">Join Now</a>
    <a href="#" class="card-link">Add Order</a>
  </div>
</div>